In [1]:
import os
import requests
import pandas as pd
from tqdm import tqdm

In [2]:
# Turn off SettingWithCopyWarning
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
directory = "data"
base_url = "https://sig.bps.go.id/rest-drop-down/getwilayah"

In [4]:
# get all provinces
def get_province():
  response = requests.get(base_url)
  return response.json()

# get all regencies
def get_regency_by_province(prov_id):
  response = requests.get(f"{base_url}?level=kabupaten&parent={prov_id}")
  return response.json()

In [5]:
# get provinces
provinces = get_province()

# get regencies
regencies = []
for prov in tqdm(provinces):
  temp = get_regency_by_province(prov['kode'])
  regencies.extend(temp)

# into df
province_df = pd.DataFrame(provinces)
regency_df = pd.DataFrame(regencies)

100%|██████████| 34/34 [00:11<00:00,  3.08it/s]

In [6]:
province_df.head()

  kode            nama
0   11            ACEH
1   12  SUMATERA UTARA
2   13  SUMATERA BARAT
3   14            RIAU
4   15           JAMBI

In [7]:
regency_df.head()

   kode           nama
0  1101       SIMEULUE
1  1102   ACEH SINGKIL
2  1103   ACEH SELATAN
3  1104  ACEH TENGGARA
4  1105     ACEH TIMUR

In [8]:
 # Save to csv
prov_file = os.path.join(f'{directory}/raw', 'provinces.csv')
province_df.to_csv(prov_file, index=False)
print("Combined data saved to provinces.csv")

Combined data saved to provinces.csv

In [9]:
 # Save to csv
reg_file = os.path.join(f'{directory}/raw', 'regencies.csv')
regency_df.to_csv(reg_file, index=False)
print("Combined data saved to regencies.csv")

Combined data saved to regencies.csv